// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc007;
$orange: rgb(161, 177, 180);
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$main-color: rgb(160, 179, 182);
$second-color: rgb(245, 245, 245);
