.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  background-color: rgb(161, 178, 181);
  .container {
    display: block;
  }
}

.linkedin {
  color: rgb(12, 102, 194);
  font-size: 50px;
}

.youtube {
  color: rgb(255, 1, 2);
  font-size: 50px;
  &:hover {
    color: rgb(244, 18, 18);
  }
}
