.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  background-color: rgb(161, 178, 181);
  .container {
    display: block;
  }
}

.linkedin {
  color: rgb(12, 102, 194);
  font-size: 50px;
  transition: 0.3s;
}

.youtube {
  color: rgb(255, 1, 2);
  font-size: 50px;
  &:hover {
    color: rgb(244, 18, 18);
    transition: 0.3s;
  }
}

.facebook {
  color: rgb(73, 102, 170);
  font-size: 50px;
  &:hover {
    color: rgb(59, 88, 154);
    transition: 0.3s;
  }
}

.heart-img {
  width: 300px;
}
