// Specific CSS for your home-page
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}
// -------banner-------------------
.banner {
  background-image: url("chat-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  height: 90vh;
  text-align: center;
  width: 100%;

  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
}
.second-backgr {
  background-color: $second-color;
}
// ----image div-------
.image-div {
  height: 50vh;
  background-image: url("circle-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  // position: relative;
  background-attachment: fixed;
}
// -----about--banner-------------------
.about-banner {
  background-image: url("hexa-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  height: 90vh;
  text-align: center;
  width: 100%;

  .about-banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
}
