// Specific CSS for your home-page
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}
// -------banner-------------------
// .banner {
//   background-image: url('<%= cl_image_tag("chat-background_zoheyz" %>');
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   position: relative;
//   background-attachment: fixed;
//   height: 90vh;
//   text-align: center;
//   width: 100%;

//   .banner-text {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//   }
// }
.second-backgr {
  background-color: $second-color;
}
// ----image div-------
.image-div {
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  background-attachment: fixed;
}
// ----image div2-------
.image-div2 {
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  background-attachment: fixed;
}
// ----image div3-------
.image-div3 {
  // height: 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  background-attachment: fixed;
}
// -----about--banner-------------------
.about-banner {
  background-image: url("hexa-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  text-align: center;
  width: 100%;

  .about-banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
// ----------cookies modal---------

.modal-dialog {
  margin-top: 0rem;
  max-width: 100%;

  .modal-content {
    border-radius: 0rem;
  }

  .modal-buttons {
    .btn {
      margin: 0.2rem;
    }
  }
}
// ------------------------carousel---------------------
.carousel-inner {
  height: 80vh;
}

.carousel-item {
  background-position: center;
  background-size: cover;
  transform: (0.9, 0.9);
  opacity: 0.6;
}

// -------------media query breakpoints-------

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  .h1-span span {
    font-size: 16px !important;
  }
  .p-span {
    font-size: 10px;
  }
}

@media only screen and (max-width: 720px) {
  .carousel-caption {
    bottom: 0 !important;
  }
  .h1-span {
    font-size: 20px !important;
  }
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
}

/* Medium devices (up to 918px) */
@media only screen and (max-width: 918px) {
  .carousel-caption {
    bottom: 20%;
  }
}
/* Large devices ( 918px and above) */
@media only screen and (min-width: 918px) {
  .carousel-caption {
    bottom: 35%;
  }

  .typewriter .type-text {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .carousel-caption {
    bottom: 20%;
  }

  .carousel-inner {
    height: 50vh;
  }
}
