// // /* -------------Navbar------------------- */
.nav-logo {
  width: 130px;
}

.navbar-toggler {
  border-radius: 50%;
  border: 2px solid rgb(153, 153, 154) !important;
  .toggler-plus {
    font-size: 32px;
  }
}
.navbar-toggler:active {
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  opacity: 0.9;

  .nav-link {
    color: black !important;
    font-size: 16px;
  }
}

.dropdown-menu {
  border: none;
  .dropdown-item:hover {
    background-color: $second-color;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
}
