<div class="footer ">
  <div class="container text-center">
    <h5>Connect with me on <a href="#" target="blanked" class="text-white">LinkedIn</a>  or follow me on <a href="#" target="blanked" class="text-white">Twitter</a> </h5>
    <br>
    <br>
    <h5><%= link_to "Terms of Use", terms_of_use_path, class: "text-white" %>
    •
     <%= link_to "Privacy Policy", privacy_policy_path, class: "text-white" %>
    </h5>
    <br>
    <br>
    <p class="trademark">© 2021 Dr. Sen</p>
    <p class="btn btn-lg btn-outline-light " ><a href="https://www.db-uk.net/" target="_blank" class="text-dark">DISIGNED BY  <strong>db</strong> </a></p>
  </div>
</div>