<div class="footer h-100 p-3">
  <div class="container text-center">
    <br>
    <br>
    <h3>Follow Me</h3>
    <p><a href="https://www.linkedin.com/in/samarnath-sen-b3570a52/" target="blanked" class="linkedin"><i class="fab fa-linkedin"></i></a>
    <a href="#" target="blanked" class="youtube"><i class="fab fa-youtube"></i></a> <a href="#" target="blanked" class="facebook"><i class="fab fa-facebook-square"></i></a></p>
    <br>
    <br>
    <h5>
      <%= link_to "Terms of Use", terms_of_use_path, class: "text-white" %>
     <span class="text-white" >•</span> 
      <%= link_to "Privacy Policy", privacy_policy_path, class: "text-white" %>
    </h5>
    <br>
    <br>
    <p class="trademark">© 2021 Dr. Sen</p>
    <p class="btn btn-lg btn-outline-light " ><a href="https://www.db-uk.net/" target="_blank" class="text-dark">DISIGNED BY  <strong>db</strong> </a></p>
  </div>
</div>