<div class="p-5 image-div3" style="background-image: url('<%= cl_image_path "vertical-background_blt9fx" %>')">
  <br>
  <h1 class="text-center m-5" data-aos="zoom-in" data-aos-duration="3000">Covid-19</h1> 
  <div class="row mb-5">
    <div class="col-md-9">
      <p>We know that the COVID-19 situation has led to restrictions and concerns for both parents and children. We are ensuring that we are taking every measure to fulfil our professional responsibilities to prevent the spread of COVID-19 whilst maintaining face to face appointments so that an appropriate assessment can be made of your concerns. We hope the information below will be helpful for you to understand how we are minimising the impact of COVID-19 by limiting any exposure to and from our patients.</p>

      <h4>Protecting yourself and your family from COVID-19</h4>

      <p>Wash your hands often with soap and water, particularly when you have had to leave your home.
      Avoid touching eyes, nose, and mouth, particularly with unwashed hands
      Avoid kissing, hugging, and sharing cups or eating utensils with people who are ill.
      Disinfect frequently touched surfaces, especially if someone is sick.
      Maintain social distancing from anyone outside your home environment or “lockdown bubble” and from any vulnerable members of your family and friends.
      Stay at least a metre away from people not in your household
      Avoid any unnecessary travel and only leave your home for essential trips if possible.
      Make sure that your family and yourself wear an appropriate mask in line with government guidance.
      Isolate your household for two weeks if any family members show signs of sickness.</p>

     <h4>Keeping up-to-date with the latest recommendations</h4>

     <p>We know that the situation with regards to COVID-19 is constantly changing and we request that our patients also keep themselves up-to-date with the latest advice. You can access this from the Government website as noted below: https://www.gov.uk/coronavirus</p>

     <h4>Actions to lower the risk of infection to both patients and our staff</h4>

     <p>In accordance with government guidelines, any patients and their parents who have no obvious signs of Covid-19, but who have been in contact with anyone with symptoms,  are being asked to wait for fourteen days, symptom free, before making or attending any face to face appointments.

     We can offer video appointments if required only if it is felt appropriate to do so based on the reason your child is being seen. Unfortunately any patients, and their family members, who have tested positive for COVID-19 are unable to be seen until they have received medical clearance.

    If you are concerned about the health of your child and feel that a hospital visit might be necessary please contact either NHS 111 or your private health insurer to make arrangements for your child to be seen in the emergency setting.

    Staff at the Practice always use the best health and hygiene practices but are taking extra precautions against the spread of germs. The Practice completes regular and thorough cleaning of the consultation rooms, waiting rooms, surfaces and toys have now been removed.

    To help with social distancing, and to limit the number of patients in the waiting area, we respectfully ask all our patients to arrive 5 minutes before the allotted time. If you arrive before this, please wait outside until the appropriate time.

    To limit exposure we request that only one parent should attend with the child, however the other parent can be part of the consultation via telephone loudspeaker / video-call. Masks should be worn in accordance with government guidelines. All visitors are required to wash their hands before their appointments. The clinic will facilitate additional hand sanitation during and after your appointment.</p>

    <p> <strong>Thank you for working with us to keep our children, families and colleagues healthy and safe.</strong> </p>
    </div>
    <br>
    <%# ----- contact form ------ %>
    <div class="col-md-3">
      <div class="container ">
        <form action="https://formspree.io/f/xknpykvy"
          method="POST">
          <div class="form-group">
            <label class="h5" for="ful-name">Full Name*</label>
            <input type="text" class="form-control border-bottom " id="first-name"  required name="message">
          </div>
          <div class="form-group">
            <label class="h5" for="email">Email address*</label>
            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required type="text" name="_replyto">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label class="h5" for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" name="message" >
          </div>
          <div class="form-group">
            <label class="h5" for="message">Message*</label>
            <textarea name="message" id="message" cols="50" rows="6" class="form-control" required></textarea>
          </div>
          <button type="submit" class="btn btn-warning btn-lg" data-aos="fade" data-aos-duration="3000">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>